In [19]:
import numpy as np
import pandas as pd

In [20]:
match4 = pd.read_csv(f"Match4.csv")
match4.loc[4, 'Start Lon'] += 6.11
match4.loc[7, 'Target Lon'] += 6.11

match4

,Bounty,Start Lat,Start Lon,End Lat,End Lon,Launch Time,Target Lat,Target Lon,Blast Radius
0,6,0.0,5.0,0.0,95.0,0.0,0.0,5.0,1.0
1,14,0.0,15.0,0.0,105.0,1.0,0.0,41.0,1.0
2,24,0.0,10.0,0.0,100.0,2.0,0.0,14.0,4.0
3,4,0.0,0.0,0.0,90.0,3.0,0.0,10.0,4.0
4,27,0.0,25.0,0.0,115.0,4.0,0.0,34.0,1.0
5,14,0.0,30.0,0.0,120.0,5.0,0.0,5.0,1.0
6,7,0.0,20.0,0.0,110.0,6.0,0.0,41.0,1.0
7,4,0.0,35.0,0.0,125.0,7.0,0.0,7.0,1.0

In [21]:
hits = [[False] * 8 for _ in range(8)]

for ship in range(8):
    t = match4.at[ship, 'Launch Time']
    radius = match4.at[ship, 'Blast Radius']
    for other in range(8):
        if abs(match4.at[other, 'Start Lon'] + t - match4.at[ship, 'Target Lon']) <= radius:
            hits[ship][other] = True

hits

[[True, False, False, False, False, False, False, False],
 [False, False, False, False, False, False, False, False],
 [False, True, True, False, False, False, False, False],
 [True, False, True, False, False, False, False, False],
 [False, False, False, False, False, True, False, False],
 [False, False, False, True, False, False, False, False],
 [False, False, False, False, False, False, False, True],
 [False, False, False, True, False, False, False, False]]

In [22]:
def decode(n):
    n %= 29
    if n == 0:
        return 'ED'
    elif n <= 26:
        return chr(ord('A') + n - 1)
    elif n == 27:
        return 'BE'
    else:
        return 'LI'

In [23]:
ship_active = [True] * 8
bounty_claimed = [False] * 8
for ship in range(8):
    bounty = 0
    if ship_active[ship]:
        for other in range(8):
            if hits[ship][other] and not bounty_claimed[other]:
                ship_active[other] = False
                bounty_claimed[other] = True
                bounty += match4.at[other, 'Bounty']
    if bounty > 0:
        print(decode(bounty))

F
I
N
D